@media (max-width: 415px) {

  header {
    background-color: #253F62;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }

  #modal-menu-btn {
    /* margin-top: 15px; */
    align-self: flex-end;
    padding-bottom: 3px;
  }


  h1{
    font-size: 18px;
    color: white;
  }

  .dropdown-menu {
    font-family: 'Miso';
    display: none;
    justify-content: space-around;
    height: 40px;

  }

  .dropdown-ul {
    font-family: 'Miso';
    display: flex;
    padding-left: 0px;
    width: 100%;
    justify-content: space-around;
  }

  .dropdown-li {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;

  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
    font-size: 14px;
  }

  h2 {
    text-align: center;
    color: #253F62;
    font-size: 1em;
    font-family: 'Caviar Dreams';
    margin: 0 auto;
    padding: 10px;
  }

  .main-resume {
    width: 100%;
  }

  article {
    width: 100%;
  }

  h3 {
    text-align: center;
  }

  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background: rgba(62,99,144,1); */

  }

  ion-icon {
    width: 40px;
    height: 40px;
  }

  ion-icon:hover {
    color: #37649d;
  }

  p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }


  .divider {
    width: 80%;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 15px;
  }


  .homepage-link-icons {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  ul.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    flex-wrap: wrap;
  }

}

body {
  margin: 0 auto;
}

header {
  position: sticky; top: 0;
  z-index: 1;
}
section {
  ;
}

.main-resume {
  /* background-color: #253F62; */
  /* background: linear-gradient(177deg, rgba(37,63,98,1) 0%, rgba(55,100,157,1) 68%, rgba(62,99,144,1) 100%); */
}

#modal-menu-btn {
  font-family: 'Miso';
  color: white;
  background-color: rgba(37,63,98,0);
  border-style: none;
}

#close-menu-btn {
  font-family: 'Miso';
  color: white;
  background-color: rgba(37,63,98,0);
  border-style: none;
  display: none;

}

div {

}

h1 {
  font-family: 'SeasideResortNF';
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-top: 10px;
}

ion-icon {
  color: grey;
  font-size: 10px;
}

ion-icon:hover {
  color: #37649d;
  cursor: default;
}


h2 {
  font-family: 'Caviar Dreams';
}

h3 {
  font-family: "Miso";
}

p {
  font-family: 'Miso';
}
